In [2]:
import pandas as pd
import pickle

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
neg = pd.read_csv('input/negative_matrix.tsv.translated', header=None, sep='\t', engine='python')
neg.head()
test = pd.read_csv('input/test_matrix.tsv.translated', header=None, sep='\t', engine='python')
test.head()

        0         1                                            2  3
0  u34012    s11434   r1-s1490165-r5-t36-r2-s361354-r4-u16522-r1 -1
1  u18834   s995602   r1-s70948-r4-u5841-r1-s1402363-r6-p1813-r3 -1
2  u14952  s2257809                      r1-s158271-r4-u29841-r1 -1
3  u26057  s1350203                          r1-s244859-r5-t0-r2 -1
4  u31915  s1284859  r1-s1503174-r4-u6984-r1-s538364-r6-p6546-r3 -1

        0         1                         2  3
0  u26688   s649006  r1-s649006-r6-p222937-r3  1
1  u13531   s412109  r1-s412109-r6-p159266-r3  1
2  u33678   s167323    r1-s518291-r4-u4786-r1  1
3  u13659    s26841     r1-s172654-r4-u725-r1  1
4   u7810  s1305522     r1-s48169-r4-u2159-r1  1